* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 25px;
  background-color: rgba(147, 14, 187, 0.623);
}

h1,
h3 {
  color: #fffbeb;
}

h1 {
  font-weight: bolder;
  font-size: 70px;
  margin: 3rem;
}

h3 {
  font-weight: bold;
  font-size: 40px;
}

.container {
  display: flex;
  gap: 150px;
  justify-content: center;
  margin: 100px;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .bouncing-heading {
    font-size: 3rem;
  }

  .score-header {
    gap: 3rem;
  }
}

.add-score,
.score-board {
  width: 100%;
}

.board {
  border: 5px solid #ccc;
  background-color: #495579;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 8px 5px 8px 8px #888;
  overflow-y: scroll;
  max-height: 560px;
  width: 100%;
}

.board li {
  list-style: none;
  padding: 10px;
}

.board li:nth-child(even) {
  background-color: aquamarine;
}

.score-board {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 15px;
}

.add-score {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.score-header {
  display: flex;
  justify-content: space-between;
}

.board-item {
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 10px;
}

input {
  display: flex;
  width: 100%;
  height: auto;
  padding: 5px;
  font-size: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
}

.submit {
  width: 100px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.refresh-btn {
  width: 150px;
  font-size: 25px;
  height: 50px;
}

#results {
  min-width: 300px;
  background-color: #92b4ec;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 70%;
  font-size: 25px;
  font-weight: bold;
  top: 100px;
}

.view {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }

  to {
    left: 60%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }

  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }

  to {
    right: 0;
    opacity: 0;
  }
}

.bouncing-text {
  position: relative;
  display: flex;
  font-size: 70px;
  color: #fffbeb;
  font-weight: bolder;
  margin: 50px;
}

.bouncing-heading {
  display: flex;

  /* align-items: center; */
}

.l,
.e,
.a,
.d,
.r,
.b,
.o {
  color: #fffbeb;
  text-shadow: 0 3px grey, 0 5px grey, 0 7px grey;
  margin: 3px;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-55px);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  58% {
    transform: scale(1, 1) translateY(-7px);
  }

  65% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.l {
  animation: bounce 1s ease infinite;
}

.e {
  animation: bounce 1s ease infinite 0.1s;
}

.a {
  animation: bounce 1s ease infinite 0.2s;
}

.d {
  animation: bounce 1s ease infinite 0.3s;
}

.r {
  animation: bounce 1s ease infinite 0.4s;
}

.b {
  animation: bounce 1s ease infinite 0.5s;
}

.o {
  animation: bounce 1s ease infinite 0.6s;
}

.bouncing-text::before,
.bouncing-text::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 5px;
  border-radius: 50%;
  top: 82px;
  z-index: -1;
}

.shadow,
.shadow-two {
  position: absolute;
  top: 82px;
  z-index: -1;
}

.shadow::before,
.shadow::after,
.shadow-two::before,
.shadow-two::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 5px;
  border-radius: 50%;
  top: 0;
}

.bouncing-text::before {
  left: 0;
  animation: scale 1s linear infinite;
}

@keyframes scale {
  0% {
    transform: scaleX(1);
  }

  25% {
    transform: scaleX(0.4);
  }

  50% {
    transform: scaleX(1);
  }

  75% {
    transform: scaleX(0.9);
  }

  100% {
    transform: scaleX(1);
  }
}

.bouncing-text::after {
  left: 57px;
  animation: scale 1s linear infinite 0.1s;
}

.shadow::before {
  left: 116px;
  animation: scale 1s linear infinite 0.2s;
}

.shadow::after {
  left: 175px;
  animation: scale 1s linear infinite 0.3s;
}

.shadow-two::before {
  left: 232px;
  animation: scale 1s linear infinite 0.4s;
}

.shadow-two::after {
  left: 285px;
  animation: scale 1s linear infinite 0.5s;
}
